# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\work1\terraform-alicloud-ecs-cluster\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
